*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Lato, Lato Fallback;
}
header{
    padding:1rem;
}
a{
    text-decoration: none;
}
.logo{
    display:flex;
    justify-content: space-around;
    margin-top: 1rem;
    align-items: center;
    /* position: fixed;
    width: 100%; */
}
img{
    max-width: 100%;
}
.tag{
    font-size: 1.4rem;
    font-weight: 600;
}
.btn{
    padding:15.4px 34px;
    background-color:black;
    color:white;
    border-radius: 2rem;
}

.btn:hover img {
    filter: invert(0);
}
.ham{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 1rem;
    width: 20rem;
    overflow:hidden;
    position: relative;
    right:1.4rem;
    padding: 2rem;
    display:none;
}
.dyn ul li {
    list-style-type: none;
    margin-top: 2rem;
}
.dyn a{
    color:black;
    font-size: 1.5rem;
    font-weight: 500;
}
.btn:hover{
    background-color:#98ff98;
    color:black;
}
.btn img{
    filter: invert(1);
}

.dot{
    color:yellow;
}
.main-nav{
     display:flex;
     gap:2rem;
} 
.link{
    font-size: 16px;
    color:black;
    border-bottom: 2px solid black;
}
.link:hover{
    border-bottom:2px solid yellow;
}
.linked{
    font-size: 16px;
    color:black;
}
.btn{
    text-decoration: none;
    color:white;
    font-size: 1rem;
    display:flex;
    align-items: center;

    @media (max-width: 400px) {
        display: none;
    }
}
.menu{
    display: none;

    @media (max-width: 720px) {
        display: block;
    }
}

.main-nav{
    @media (max-width: 720px) {
        display: none;
    }
}

.tog{
    display: flex;
    gap: 20px;
    align-items: center;
}
.here{
    background-color: #FFFBEC;
    padding: 0.3rem 0.4rem;
    width:16.5rem;
    border-radius: 1rem;
    font-size: 17px;
    margin-bottom: 1rem;
}
.partb{
    display:flex;
    gap:2rem;
    margin-top:2rem;
}
.parts img{
    max-width: 50rem;
    max-height: 50rem;
    filter:brightness(80%);
}
.texts{
    margin-top:3.5rem;
}
.texts h3{
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
    max-width: 40rem;
}
.to{
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}
.book{
    background-color:#98ff98;
    padding: 0.5rem 1rem;
    color:black;
    font-size: 1.1rem;
    border-radius: 1.2rem;
    display: inline-block;
    margin-top:0.1rem;
    margin-bottom: 0.5rem;
}
@media(max-width:600px){
    .partb{
        display:block;
    }
    .parts img{
        max-width: 24rem;
    }
}